.page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgray;
  color: #3e3832;
}

.brukernotifikasjons-liste {
  margin: 2rem 0 0 0;
}

.brukernotifikasjons-liste > a {
  margin-bottom: 1rem;
}

.covid-container {
  display: flex;
  min-width: 100%;
  margin: 2rem 0 0 0;
}

.min-side-lenkepanel {
  display: flex;
  min-width: 100%;
}

.lenkepanel-venstre {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

.lenkepanel-hoyre {
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
}

@media (min-width: 0px) {
  .covid-container {
    flex-direction: column;
    margin-bottom: 1rem;
  }

  .tilbakebetaling {
    margin-bottom: 1rem;
  }

  .min-side-lenkepanel {
    flex-direction: column;
  }

  .lenkepanel-venstre {
    margin-bottom: 1rem;
  }
}

@media (min-width: 648px) {
}

@media (min-width: 960px) {
  .covid-container {
    flex-direction: row;
    margin-bottom: 1rem;
  }

  .tilbakebetaling {
    margin-bottom: 0;
    margin-right: 1rem;
  }

  .min-side-lenkepanel {
    flex-direction: row;
  }

  .lenkepanel-venstre {
    margin-right: 1rem;
    margin-bottom: 0;
  }
}
