.brukernotifikasjon-wrapper {
  border: none;
  border-radius: 8px;
}

.brukernotifikasjon-tekst-wrapper {
  padding: 0 1rem 0 0;
}

.brukernotifikasjon-tekst {
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 0 !important;
}

.brukernotifikasjon-dato {
  font-size: 1rem;
  margin: 0;
}

.beskjed-arkiver {
  display: grid;
  grid-template-columns: 1fr 16fr 1fr;
  margin-bottom: 1rem;
}

.beskjed-arkiver-ikon {
  display: flex;
  align-self: center;
}

.beskjed-arkiver-tekst-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.beskjed-arkiver-knapp-ikon {
  display: flex;
  align-self: center;
  justify-self: right;
  min-width: 30%;
  width: 30%;
  min-height: 30%;
  height: 30%;
}
