.kommunikasjonsflis-stor {
    margin: 2rem 0 0 0;
}

.kommunikasjonsflis-stor > div:first-of-type {
    border-bottom: 1px solid lightgray;
    margin-bottom: 0.4rem;
}

.kommunikasjonsflis-liten {
    font-size: 18px !important;
}

.kommunikasjonsflis-liten-tittel {
    font-size: 18px !important;
}

.fil-ikon {
    margin: 0 2rem 0 0;
    overflow: visible;
}

@media (min-width: 0px) {
    .kommunikasjonsflis-stor {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 2rem 0.5rem 0 0.5rem;
    }

    .kommunikasjonsflis-liten {
        width: 100%;
        margin: 0 0.5rem 0 0.5rem;
    }
}

@media (min-width: 648px) {
    .kommunikasjonsflis-stor {
        display: block;
        width: 37.5rem;
        margin: 2rem 0 0 0;
    }

    .kommunikasjonsflis-liten {
        width: 18.25rem;
        margin: 0 0 0 0;
    }

    
}

@media (min-width: 960px) {
    
}