.sakstema-element {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem 1rem 0;
}

.content-wrapper {
    display: flex;
    align-items: center;
}

.dato-label {
    margin-bottom: 0 !important;
    color: #707070 !important;
    font-weight: 100 !important;
    font-size: 16px !important;
}

.sakstema-ikon {
    display: flex;
    align-self: center;
    overflow: visible;
    padding: 1rem;
    margin: 0 1rem 0 0.5rem;
    background-color: #F7F7F7;
    border-radius: 50%;
}

.sakstema-lenke {
    color: #262626 !important;
    text-decoration: none !important;
    font-weight: bolder;
}

.sakstema-element:hover {
    cursor: pointer;
}

.sakstema-element:hover > div > div > a{
    text-decoration: underline !important;
}

.sakstema-element:hover > svg.chevron{
    transition-duration: 0.2s;
    transform: translate(3px, 0);
}

.chevron {
    margin-left: 0.5rem;
    overflow: visible;
}

