.heading-wrapper {
  display: flex;
  justify-content: flex-start;
}

.person-tekst {
  text-transform: capitalize;
  margin: 0 !important;
}

@media (min-width: 0px) {
  .heading-wrapper {
    margin: 1rem 0 2rem 0.5rem;
  }
}

@media (min-width: 648px) {
  .heading-wrapper {
    margin: 1rem 0 2rem 0.5rem;
  }
}
