.tekst {
  text-transform: capitalize;
  margin: 0 !important;
}

.hilsning {
  color: var(--navds-semantic-color-text-muted);
}

@media (min-width: 0px) {
  .wrapper {
    margin: 1rem 0 2rem 0;
  }
}

@media (min-width: 648px) {
  .wrapper {
    margin: 1rem 0 2rem 0;
  }
}
