@media (min-width: 0px) {
    .generelle-fliser {
        display: flex;
        flex-direction: column;
        margin: 2rem 0 2rem 0;
    }

    .generelle-fliser > a {
        margin-bottom: 1rem;
    }

}

@media (min-width: 648px) {
    .generelle-fliser {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 1rem 1rem;
        margin: 3rem 0 2rem 0;
    }

    .generelle-fliser > a {
        margin-bottom: 0;
    }
}