.lenkepanel-venstre-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: left;
  align-items: stretch;
  margin: 1rem 0 1rem 0;
}

.lenkepanel-venstre-content > a {
  margin-bottom: 0.2em;
  font-weight: bold;
  cursor: pointer;
}

.lenkepanel-venstre-content > p {
  margin-bottom: 1rem !important;
  font-weight: bold;
}

.dato-label {
  font-weight: lighter !important;
}

@keyframes shiftLeft {
  from {
    transform: 0, 0;
  }
  to {
    opacity: 10px, 0;
  }
}

.alle-saker-inngang {
  text-decoration: none !important;
}

.alle-saker-inngang:hover svg {
  transition-duration: 0.2s;
  transform: translate(3px, 0);
}

.chevron {
  margin-left: 0.5rem;
}

.lenkepanel-venstre-liten {
  margin: 1rem 0 1rem 0;
}
