.main {
  height: auto;
  min-height: 100%;
}

.main > svg {
  width: 22px;
  height: 22px;
}

.app {
  flex-direction: column;
  display: flex;
}

.varsler {
  margin-bottom: 1rem;
}

@media (min-width: 0px) {
  .main {
    margin: 0 1rem 2rem 1rem;
  }
}

@media (min-width: 648px) {
  .main {
    margin: 0 0 2rem 0;
  }
}
