.inngang-varslinger {
  text-decoration: underline;
  color: black;
}

.inngang-varslinger:hover {
  text-decoration: none;
  cursor: pointer;
}

@media (min-width: 0px) {
  .inngang-varslinger {
    margin: 0.5rem 0 2rem 0.5rem;
  }
}

@media (min-width: 648px) {
  .inngang-varslinger {
    margin: 0.5rem 0 2rem 0.5rem;
  }
}