.lenkepanel-hoyre-content {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 1rem;
}

.lenkepanel-hoyre-content > a {
  margin-bottom: 0.2em;
  font-weight: bold;
  text-decoration: none;
}

.lenkepanel-hoyre-content > a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.lenkepanel-hoyre-content > p {
  margin-bottom: 1rem !important;
  font-weight: bold;
}

.tittel {
  margin-bottom: 1rem !important;
}

.ingress {
  font-weight: lighter !important;
}

.alle-saker-inngang {
  text-decoration: none !important;
}
